/*FOOTER */
.footer_logo {
    width: 10vw;
}

#site-footer .section-inner {
    align-items: baseline;
    display: grid;
    justify-items: center;
    justify-content: center;
}

footer img {
    width: 60%;
}

.appstore {
    width: 52%;
    margin-bottom: 11vw;
}

footer {
    font-family: 'Montserrat', sans-serif;

}

footer h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

footer p,
footer a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.footer_column {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

.some_icons {
    width: 9vw;
    height: 9vw;
}

.some {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8vw;
}



.fa fa-instagram {
    color: white;
}

.fa fa-facebook {
    color: white;
}

.fa fa-youtube-play {
    color: white;
}

i {
    font-style: normal;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

@media (min-width:600px) {

    /*forside*/
    .episode_container {
        margin-left: 5vw;
        width: 89vw;
        padding: 1vw;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        margin-left: 5vw;
        text-align: left;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
    }

    button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    #udforskLoudsLydunivers {
        margin-left: 5vw;
    }

    .branchen {
        margin-left: 0vw;
    }

    /*    PODCAST-SIDE*/
    h4 {
        font-size: 2.5rem;
        font-weight: 200;
    }

    #alleafsnit {
        margin-top: -1vw;
        font-size: 3.2rem;
        font-weight: 700;
    }

    /*footer*/
    #site-footer {
        background-color: #0d353a;
        padding-bottom: 5rem;
    }

    #site-footer .section-inner {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    }

    .section-inner {
        max-width: 100vw;
        margin: 0;
    }

    .footer_logo {
        position: relative;
        top: 8vw;

    }

    .apple_google {
        position: relative;
        top: 9vw;
    }

    .footer_column {

        justify-items: left;
    }

    .some {
        gap: 2vw;
    }

    .some_icons {
        width: 2vw;
        height: 2vw;
    }

    footer h2 {
        text-align: left;
    }

    .footer-top-hidden #site-footer {
        margin-top: 0rem;
    }
}


.hide {
    display: none !important;
}
