@media (min-width:600px) {

    /*forside*/
    .episode_container {
        margin-left: 5vw;
        width: 89vw;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        margin-left: 5vw;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
    }

    button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    #udforskLoudsLydunivers {
        margin-left: 5vw;
    }

    .branchen {
        margin-left: 0vw;
    }

    /*    PODCAST-SIDE*/

    #udforsk {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
